@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth; /* el scroll es suave*/
}

body 
{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    background-color: #000000;
    padding-top: 80px; 
}

footer
{
    text-align: center;
    color: #f4f4f4;
    padding-bottom: 25px;
}

header
{
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 800;
}

/* Estilos para hacer el navbar fijo */
.navbar 
{
    position: fixed; /* Fija la barra de navegación */
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    background-color: #F20505;
}


.navbar-nav .nav-link {
    color: black;
    transition: transform 0.2s, font-size 0.2s;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.5rem;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    font-size: 1.1em;
    color: #F20505;
    font-size: 1.5rem;
}

/*********************************************************************************************************************************************************************/

.BIENVENIDO
{
    font-size: 3.5rem;
    color: #F20505;
}

.gancho
{
    font-size: 1.5rem;
    color: white;
}

/* CALL TO ACTION */
.cta-button {
    background-color: #F20505; 
    color: #fff; 
    font-size: 1.2rem; 
    font-weight: 600;
    padding: 0.75rem 1.25rem; 
    border: 5px solid #F20505; 
    border-radius: 0.3rem; 
    text-transform: uppercase; /* texto en mayúsculas */
    transition: background-color 0.3s ease, color 0.3s ease; 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #fff; 
    color: #F20505; 
    border: 2px solid #F20505; 
    transform: scale(1.2);
}

/* Centrar el contenedor en la pantalla */
.centered-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    width: 100%; /* Asegura que el contenedor ocupe toda la anchura de la ventana */
    background-image: url(imagenes/fondo.jpeg);
    background-size: cover; /* Para ajustar la imagen de fondo */
    background-position: center;
    background-repeat: no-repeat;
}

.texto_cartas
{
    color: #F20505;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

/*********************************************************************************************************************************************************************/

.coontainer
{
    align-items: center;
}

.card
{
    align-items: center;
    display: inline-block;
    background-color: #dddddd;
    padding: 2px;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
    transition: transform 0.3s ease; /* Añade una transición suave */
}

.card:hover {
    transform: translateY(-15px); /* Mueve la tarjeta hacia arriba */
}

.btn 
{
    background-color: #F20505; 
    border: #F20505;
    color: #fff; 
    font-size: 1rem; 
    border-radius: 0.3rem; 
}

/*********************************************************************************************************************************************************************/

h2
{
    padding-top: 50px;
}

.redes_sociales
{
    display:inline-flex;
    background-color: black; 
    padding: 30px; 
    
}

.fb {
    transition: transform 0.2s, font-size 0.2s;
    padding-left: 10px;
    padding-right: 10px;
}

.fb:hover {
    transform: scale(1.3);
}

.ig {
    transition: transform 0.2s, font-size 0.2s;
    padding-left: 10px;
    padding-right: 10px;
}

.ig:hover {
    transform: scale(1.3);
}

.tt {
    transition: transform 0.2s, font-size 0.2s;
    padding-left: 10px;
    padding-right: 10px;
}

.tt:hover {
    transform: scale(1.3);
}





/* ***********************     CELULAR     *****************************************************************************************************************/

@media only screen and (max-width: 767px)
{
    .nosotros
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        width: 100%; 
        background-color: #000000;
        text-align: center;
    }

    h3
    {
        color: #ffffff;
        font-size: 3rem;
    }

    .texto_que_es
    {
        color: #ffffff;
        font-weight: 400;
        text-align: justify;
        font-size: 1.5rem;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }
}

/* ***********************     TABLET     *****************************************************************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .nosotros
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        width: 100%; 
        background-color: #000000;
        text-align: center;
    }

    h3
    {
        color: #ffffff;
        font-size: 3rem;
    }

    .texto_que_es
    {
        color: #ffffff;
        font-weight: 400;
        text-align: justify;
        font-size: 1.5rem;
        margin-top: 50px;
    }
}

/* ***********************     COMPUTADORA     *****************************************************************************************************************/

@media only screen and (min-width:992px)
{
    .nosotros
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        width: 100%; 
        background-color: #000000;
        text-align: center;
    }

    h3
    {
        color: #ffffff;
        font-size: 3rem;
    }

    .texto_que_es
    {
        color: #ffffff;
        font-weight: 400;
        text-align: justify;
        font-size: 1.5rem;
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 50px;
    }

}